<%- include('./partials/header') %>
<section class="Delicious">
<h1>DELICOUS MENU</h1>
<div class="padding-left-menu  line-yellow"></div>
<h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis at velit maximus, molestie est a, tempor magna.</h4>
</section>
<ul class="food-drink">
    <li><h5>SOUPE</h5></li>
    
    <li><h5>PIZZA</h5></li>
    <li><h5>PASTA</h5></li>
    <li><h5>DESERT</h5></li>
    <li><h5>WINE</h5></li>
    <li><h5>BEER</h5></li>
    <li><h5>DRINKS</h5></li>
</ul>

<%- include('./partials/sectionMenu')%> 
<%- include('./partials/sectionMenu')%> 
<%- include('./partials/sectionMenu')%> 
<%- include('./partials/sectionMenu')%> 
<%- include('./partials/sectionMenu')%> 
<%- include('./partials/sectionMenu')%> 
<%- include('./partials/sectionMenu')%> 


    <%- include('./partials/footer') %>